.filter_outer_div {
  background-color: #131313;
  border-radius: 15px;
  width: 228px;
  height: 275px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2.56rem;
  padding-right: 2.56rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter_inner_div h6 {
  color: #a5a5a5;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.filters{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.filters div{
  display: flex;
  flex-direction: row;
  gap:0px;
  background-color: #232323;
}

.input_select {
  box-sizing: border-box;
  background-color: #232323;
  border: none;
  border-radius: 4.68775px;
  width: 100%;
  padding: 0.5rem 0.5rem;
  color: #ffffff;
}
@media(max-width:768px){
  .filter_outer_div{
    width:70vw;
  }
  .filter_inner_div{
    width:100%;
  }
}